* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #E3E6E6;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #131921;
    color: white;
    padding: 12px;
}

.nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    gap: 10px;
}

.logo_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.logo {

    width: 130px;
    height: 50px;
}

.location {
    display: block;
    align-items: center;
    text-align: center;
    margin-left: 15px;
}

.nav-center {
    display: flex;
    flex: 1;
    margin: 5px 20px;
}

.nav-center input {
    padding: 10px;
    flex: 1;
    border: none;
}

.lang {
    display: flex;
    align-items: center;
    gap: 5px;
}

.category {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.search-btn {
    padding: 10px 14px;
    background: #febd69;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

#search-btn-ico {
    width: 25px;
    height: 20px;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-right span {
    text-align: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;

}

.cart {
    display: flex;
}

#img-cart {
    width: 53px;
    height: 50px;
}

.subnav {
    background: #232f3e;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
    font-size: 16px;
    white-space: nowrap;
}

.left {
    display: flex;
    align-items: center;
    gap: 18px;
}

.menu-icon {
    font-size: 22px;
    cursor: pointer;
}

.left a {
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
}

.left a:hover {
    text-decoration: underline;
}

.rufus {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.rufus img {
    width: 25px;
    height: 25px;
}

.right {
    display: flex;
    align-items: center;
    gap: 8px;
}

.sale {
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

.live {
    color: #ffffffb7;
    font-size: 14px;
}

.arrow {
    font-size: 22px;
    color: #ffffff;
}


.hero img {
    width: 100%;
    height: 400px;
    display: block;
}

.main_content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.product_box {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.box {
    width: 25%;
    height: 58vh;
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.box h2 {
    font-size: 19px;
    margin-bottom: 15px;
    line-height: 1.3;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.item img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 4px;
}

.item p {
    font-size: 14px;
    margin-top: 5px;
}

.big-img {
    width: 100%;
    height: 277px;
    object-fit: cover;
    border-radius: 4px;
}

.btn-card {
    display: flex;
    align-self: baseline;
    font-size: 15px;
    text-decoration: none;
    color: #0073e6;
}

.link:hover {
    text-decoration: underline;
}

.slider-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 99%;
    height: 285px;
    background: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    position: relative;
}

.slider-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.slider-header h2 {
    font-size: 22px;
    font-weight: 600;
}

.explore {
    color: #0073e6;
    font-size: 15px;
    text-decoration: none;
}

.explore:hover {
    text-decoration: underline;
}

.slider {
    margin-top: 18px;
    display: flex;
    gap: 42px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding-bottom: 10px;
}

.slider::-webkit-scrollbar {
    display: none;
}

.slider img {
    height: 180px;
    width: auto;
    border-radius: 5px;
    flex-shrink: 0;
}

.arrow {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 80px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #444;
}

img {
    cursor: pointer;
}

.footer-top {
    background: #37475a;
    color: #fff;
    text-align: center;
    padding: 12px;
    font-size: 14px;
    cursor: pointer
}

.footer-main {
    background: #232f3e;
    color: #fff;
    padding: 40px 20px
}

.footer-cols {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 30px;
    max-width: 1100px;
    margin: auto
}

.footer-cols h4 {
    margin-bottom: 10px;
    font-size: 16px
}

.footer-cols a {
    display: block;
    color: #ddd;
    font-size: 14px;
    text-decoration: none;
    margin: 6px 0
}

.footer-cols a:hover {
    text-decoration: underline
}

.footer-mid {
    background: #232f3e;
    border-top: 1px solid #3a4553;
    border-bottom: 1px solid #3a4553;
    padding: 20px;
    text-align: center
}

.lang {
    display: inline-flex;
    align-items: center;
}

.logo {
    font-size: 22px;
    font-weight: bold
}

select {
    background: #e6e6e6;
    color: black;
    border: 1px solid #848688;
    padding: 6px
}

.footer-services {
    background: #131a22;
    color: #ddd;
    padding: 30px 20px
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1100px;
    margin: auto;
    font-size: 13px
}

.services-grid span {
    display: block;
    color: #aaa;
    font-size: 12px
}

.footer-bottom {
    background: #131a22;
    color: #aaa;
    text-align: center;
    font-size: 12px;
    padding: 15px
}

.footer-bottom a {
    color: #ddd;
    text-decoration: none;
    margin: 0 8px
}

.footer-bottom a:hover {
    text-decoration: underline
}

@media (max-width: 1240px) {
    .hero img {
        height: 50%;
    }

    .box {
        width: 48%;
    }

    .box4 {
        display: none;
    }

    .nav-center {
        width: 100%;
    }

    .right {
        display: none;
    }

    .footer-cols {
        text-align: center;
    }

    .services-grid {
        text-align: center;
    }
}