* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Amazon Ember, Arial, sans-serif;
}

body {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    margin-top: 30px;
    text-align: center; 
}

.logo {
    width: 135px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 420px;
    padding: 20px 25px;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
}

.box h2 {
    font-weight: 600;
    margin-bottom: 15px;
}

.box label {
    font-size: 14px;
    font-weight: 600;
}

.box input {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    margin-bottom: 18px;
    border: 1px solid #a6a6a6;
    border-radius: 5px;
    font-size: 15px;
}

.box input:focus {
    outline: 3px solid #c8f3fa;
    border-color: #008296;
}

.box button {
    width: 100%;
    padding: 10px;
    background: #ffd814;
    border: 1px solid #fcd200;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

.box button:hover {
    background: #f7ca00;
}

.policy {
    font-size: 13px;
    margin: 16px 0px;
    line-height: 1.4;
}

.policy a {
    color: #0066c0;
    text-decoration: none;
}

hr {
    width: 100%;
    background-color: transparent;
    border-color: var(--__dChNmAwPaMXsTxp, #d5d9d9);
    border-top-width: 1px;
    border-top-style: solid;
    display: block;
    height: 1px;
    line-height: 19px;
    margin-bottom: 6px;
    margin-top: 0;
}

h4 {
    margin: 10px 0px;
}

.business {
    font-size: 14px;    
    color: #0066c0;
    text-decoration: none;
}

footer {
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
    color: #444;
}

footer a {
    margin: 0 10px;
    color: #0066c0;
    text-decoration: none;
}

footer p {
    margin-top: 10px;
    color: #666;
}